@model TaskManagerWebsite.ViewModels.GroupsViewModel
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/user/projects.css" asp-append-version="true" />

<div class="container">
    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="alert alert-success">
            @Model.SuccessMessage
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
<div class="groups-container">
    <div class="header">

        <h1>Groups</h1>

        <!-- Create Group Button -->
        <div style="text-align: center">
            @if ((await AuthorizationService.AuthorizeAsync(User, ViewBag.UserId, "IsAdmin")).Succeeded)
            {
                <a href="@Url.Action("CreateGroup", "User")" class="btn btn-primary">Create New Group</a>
            }
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>
                    @group.Name
                </td>
                <td>@group.Description</td>
                <td>
                    <a href="@Url.Action("GroupDetails", "User", new { id = group.Id })" class="btn btn-info btn-sm">View</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, group.Id, "IsManager")).Succeeded
                         || (await AuthorizationService.AuthorizeAsync(User, null, "IsAdmin")).Succeeded)
                    {

                        <form asp-action="DeleteGroup" asp-controller="User" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@group.Id"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div style="text-align: center;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to Home</a>
    </div>
</div>
</div>