@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Admin Page";
}

<link rel="stylesheet" href="~/css/Admin/users.css" asp-append-version="true" />

<div class="users-container">
    <h1>User List</h1>
    @if ((await AuthorizationService.AuthorizeAsync(User, ViewBag.UserId, "IsAdmin")).Succeeded) 
    {
     <div style="text-align: center;">
                @Html.ActionLink("Add", "UserAdd", "User", null, new { @class = "btn btn-add" })
                </div>
    }
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, ViewBag.UserId, "IsAdmin")).Succeeded)
                {
                    @Html.ActionLink("Edit", "UserEdit", new { id = user.Id }, new { @class = "btn btn-edit" })
                    @Html.ActionLink("Delete", "UserDelete", new { id = user.Id }, new { @class = "btn btn-delete" })
                }
                </td>
            </tr>
        }
    </table>
    
    <div style="text-align: center;">
        @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-cancel" })
    </div>
</div>