@model IEnumerable<Group>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Admin/groups.css" asp-append-version="true" />

<div class="groups-container">
    <h1>Groups</h1>
    
    <!-- Create Group Button -->
    <div style="text-align: center">
        <a href="@Url.Action("CreateGroup", "Admin")" class="btn btn-primary">Create New Group</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th style="color: black;">Manager</th>
            <th style="color: black;">Name</th>
            <th style="color: black;">Description</th>
            <th style="color: black;">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td>
                    @group.Manager!.UserName
                </td>
                <td>
                    <a href="@Url.Action("GroupDetails", "Admin", new { id = group.Id })">
                        @group.Name
                    </a>
                </td>
                <td>@group.Description</td>
                <td>
                    <!-- Delete Group Form -->
                    <form asp-action="DeleteGroup" asp-controller="Admin" method="post" style="display:inline;">

                        <input type="hidden" name="id" value="@group.Id"/>
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this group?');">Delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-warning" style="margin-top: 15px;">
                            <strong>Warning!</strong> @TempData["ErrorMessage"]
                        </div>
                    }
            </tr>
        }
        </tbody>
    </table>

    <div style="text-align: center;">
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to Home</a>
    </div>
</div>