@model IEnumerable<TaskManagerData.Models.Project>

<link rel="stylesheet" href="~/css/Admin/projects.css" asp-append-version="true" />

<div style="text-align: center" class="header">
    <h2>Projects</h2>

    <a href="@Url.Action("CreateProject", "Admin")" class="btn btn-primary">Create New Project</a>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Project Lead</th>
        <th>Project Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model.OrderBy(p => p.Name))
    {
        <tr>
            <td>@project.ProjectLead.UserName</td>
            <td>@project.Name</td>
            <td>
                <a href="@Url.Action("ProjectDetails", "Admin", new { id = project.Id })" class="btn btn-info btn-sm">View</a>

                <form asp-action="DeleteProject" asp-controller="Admin" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@project.Id"/>
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this project?');">Delete</button>
                </form>

            </td>
        </tr>
    }
    </tbody>
</table>

<div style="text-align: center;">
    @Html.ActionLink("Go Back", "Index", "Home", null, new { @class = "btn btn-cancel" })
</div>